body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 1% 20% 0%;
}

footer {
    align-items: center;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1%;
}

.dark-background-text {
    color: #ffffff;
}

.header-text {
    color: #f9faf8;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    justify-content: flex-start;
}

.header-links {
    display: flex;
    justify-content: flex-start;
}

.sign-up-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 1% 20%;
}

.sign-up-header {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
}

.sign-up-text {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-img img {
    max-height: 200;
    max-width: 400;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 1% 20%;
}

.info-header {
    color: #1f2937;
    display: flex;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 1%;
    justify-content: center;
}

.info-images {
    display: flex;
    justify-content: center;
}

.info-img {
    display: flex;
    flex-flow: column wrap;
    max-width: 200px;
    padding: 16px;
}

.info-img img {
    max-height: 200px;
    max-width: 200px;
}

.quote-container {
    background: #e6e7eb;
    display: flex;
    flex-flow: column wrap;
    margin: 2% 0%;
    padding: 2% 21%;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote-name {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: flex-end;
}

.banner-container {
    background: #3882f6;
    border-radius: 15px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin: 2% 20%;
    padding: 2% 10%;
}

.banner-left {
    display: flex;
    flex-direction: column;
}

.banner-header {
    font-size: 24px;
    font-weight: bold;
}